# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\codespace\atop-lbs-git\atop-lbs\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
